ion-content {
    ion-img {
      margin-top: 20px;
    }
  
    ion-list {
      margin-top: 20px;
    }
  
    ion-button {
      margin-top: 20px;
    }
  
    .ion-margin-top {
      margin-top: 20px;
    }

    
  }
  
  ion-footer {
    ion-toolbar {
      ion-text-center {
        padding: 10px 0;
        font-size: 12px;
        color: #999;
      }
    }
  }
