

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <ion-img src="assets/img/logo.png" alt="AIO" style="height: 150px;"></ion-img>
  </div>


  <form (ngSubmit)="onSubmit()" *ngIf="loginForm" [formGroup]="loginForm">
    <ion-list lines="full" class="ion-margin-top">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email" required></ion-input>
      </ion-item>
      <ion-item *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
        <ion-text color="danger" *ngIf="loginForm.get('email')?.hasError('required')">
          El correo electrónico es obligatorio.
        </ion-text>
        <ion-text color="danger" *ngIf="loginForm.get('email')?.hasError('email')">
          Por favor ingrese un correo electrónico válido.
        </ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password" required></ion-input>
      </ion-item>
      <ion-item *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
        <ion-text color="danger" *ngIf="loginForm.get('password')?.hasError('required')">
          La contraseña es obligatoria.
        </ion-text>
        <ion-text color="danger" *ngIf="loginForm.get('password')?.hasError('minlength')">
          La contraseña debe tener al menos 6 caracteres.
        </ion-text>
      </ion-item>
    </ion-list>
 
    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" class="ion-margin-top" color="primary">
      Iniciar sesión
    </ion-button>
  </form>

  <div class="ion-text-center ion-margin-top">
    <a (click)="goToForgot()">¿Olvidaste tu contraseña?</a>
  </div>

  <div class="ion-text-center ion-margin-top">
    <p>¿No tienes cuenta?</p>
    <ion-button fill="clear" color="primary" (click)="goToRegister()">Registrarse</ion-button>
  </div>
</ion-content>


    <div class="ion-text-center">
      <p>Drunk - Code </p>
    </div>
 
