<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Company List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let company of companies">
        <ion-card class="company-card">
          <div class="banner" [style.backgroundImage]="'url(' + company.banner + ')'"></div>
          <div class="avatar" [style.backgroundImage]="'url(' + company.logo + ')'"></div>
          <ion-card-content>
            <div class="info">
              <h2>{{ company.name }}</h2>
              <p>{{ company.distance }} meters away</p>
              <ion-icon [name]="company.isOpen ? 'checkmark-circle' : 'close-circle'" [color]="company.isOpen ? 'success' : 'danger'"></ion-icon>
            </div>
            <p>{{ company.description }}</p>
            <ion-button expand="full" fill="outline" (click)="openMap(company.location)">
              <ion-icon slot="start" name="map-outline"></ion-icon>
              View on Map
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
