<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>company-profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header">
    <div class="banner"></div>
    <div class="logo-container">
      <div class="logo"></div>
    </div>

    <h3>Borracharia do lourenco </h3>
    <p>o pegador de gatinhas</p>
  </div>
  <ion-content>
    <app-rating-bars [ratings]="ratings" [labels]="labels"></app-rating-bars>
    <app-comment-summary [commentStats]="commentStats"></app-comment-summary>
    
    <ion-list>
      <app-comment-card *ngFor="let comment of comments" [comment]="comment"></app-comment-card>
    </ion-list>
  </ion-content>
  
</ion-content>
